:root {
  --primary: #2e8b57;
  --secondary: #3cb371;
  --background: #f8f9fa;
  --text-dark: #333333;
  --text-light: #777777;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
}
